In [2]:
import pandas as pd

In [4]:
train=pd.read_csv("c:/Users/ravin/Documents/sales/sales_train.csv")

In [5]:
test=pd.read_csv("c:/Users/ravin/Documents/sales/test.csv")

In [6]:
d=pd.merge(test,train,on=["shop_id","item_id"],how="left")

In [7]:
d.head(5)

   ID  shop_id  item_id        date  date_block_num  item_price  item_cnt_day
0   0        5     5037  21.09.2014            20.0      2599.0           1.0
1   0        5     5037  29.11.2014            22.0      2599.0           1.0
2   0        5     5037  28.12.2014            23.0      1999.0           1.0
3   0        5     5037  20.12.2014            23.0      1999.0           1.0
4   0        5     5037  02.01.2015            24.0      1999.0           1.0

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import keras
from keras.models import Sequential
from keras.layers import Dense,AvgPool2D,MaxPool2D,Conv2D,Conv2DTranspose
import seaborn as sns

In [10]:
df=pd.DataFrame(d)

In [37]:
df.to_csv("useful.csv")

In [38]:
train=pd.read_csv("c:/Users/ravin/Documents/sales/useful.csv")
train.head(5)

,Unnamed: 0,ID,shop_id,item_id,date,date_block_num,item_price,item_cnt_day
0,0,0,5,5037,21.09.2014,20.0,2599.0,1.0
1,1,0,5,5037,29.11.2014,22.0,2599.0,1.0
2,2,0,5,5037,28.12.2014,23.0,1999.0,1.0
3,3,0,5,5037,20.12.2014,23.0,1999.0,1.0
4,4,0,5,5037,02.01.2015,24.0,1999.0,1.0

In [39]:
train_df=train.pivot_table(values="item_cnt_day",columns="date_block_num",index=["ID","shop_id","item_id"],aggfunc="mean",fill_value=0)
train_df.head(5)

,,date_block_num,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,33.0
ID,shop_id,item_id,,,,,,,,,,,,,,,,,,,,,
0,5,5037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
2,5,5233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.5,1.0,0.0,1.0,1.0,1.0
3,5,5232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,5,5039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
6,5,5041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [51]:
train_df.fillna(0,inplace=True)
train_df.head()

,,date_block_num,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,33.0
ID,shop_id,item_id,,,,,,,,,,,,,,,,,,,,,
0,5,5037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
2,5,5233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.5,1.0,0.0,1.0,1.0,1.0
3,5,5232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,5,5039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
6,5,5041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [49]:
train_df.drop(['shop_id','item_id'],inplace=True,axis=1)
train_df.head(5)

KeyError: "['shop_id' 'item_id'] not found in axis"